{% extends 'base.html' %}

{% block title %}Members - Library System{% endblock %}

{% block content %}
<h2>Members</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
