{% extends 'base.html' %}

{% block title %}Home - Library System{% endblock %}

{% block content %}
<section>
    <h2>Welcome to Our Library</h2>
    <p>
        Discover a world of knowledge, imagination, and inspiration. Our library system is here to connect you with 
        the resources you need, whether you're looking for the latest bestseller, a classic novel, or research materials.
    </p>
    <p>
        Members can easily browse our collection, manage their borrowings, and leave reviews for their favorite books.
    </p>
    <div class="buttons">
        <a href="{% url 'books-list' %}"><button>Browse Books</button></a>
        <a href="{% url 'members-list' %}"><button>View Members</button></a>
        <a href="{% url 'borrowings-list' %}"><button>Borrowing Records</button></a>
        
        
    </div>
</section>
{% endblock %}
